/* variables */
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}
.page-header {
  display: flex;
  flex-direction: column;
}
.list__logo-image {
  width: 86px;
}
.logo-link {
  display: block;
  padding-top: 22px;
  padding-bottom: 15px;
  padding-right: 79px;
  text-align: center;
  border-bottom: 1px solid #ececec;
  padding-left: 75px;
  line-height: 24px;
  font-size: 17px;
}
.main-nav {
  position: relative;
  width: 100%;
}
.main-nav__list--closed {
  display: none;
}
.on {
  display: block;
}
.main-nav__toggle--closed {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 82px;
  padding: 39px 0px;
  border: none;
  background-color: transparent;
}
.main-nav__toggle--closed:after {
  content: '';
  position: absolute;
  top: 32px;
  right: 31px;
  width: 20px;
  height: 2px;
  background-color: black;
  box-shadow: 0 6px 0 0 black,
        0 12px 0 0 black;
}
.main-nav__toggle--opened {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 82px;
  padding: 39px 0px;
  border: none;
  background-color: transparent;
}
.main-nav__toggle--opened:after {
  content: '';
  position: absolute;
  top: 28px;
  right: 40px;
  width: 2px;
  transform: rotate(45deg);
  height: 25px;
  background-color: black;
}
.main-nav__toggle--opened:before {
  content: '';
  position: absolute;
  top: 28px;
  right: 40px;
  width: 2px;
  transform: rotate(-45deg);
  height: 25px;
  background-color: black;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: bold;
}
.list__item {
  height: 78px;
  border-bottom: 1px solid #ececec;
}
.list__item--logo {
  text-align: center;
}
.list__link {
  display: block;
  position: relative;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 75px;
  padding-right: 60px;
  line-height: 24px;
  font-size: 17px;
}
.list__link--logo {
  padding-top: 22px;
  padding-bottom: 15px;
  padding-right: 79px;
}
.list__image {
  position: absolute;
  top: 31px;
  left: 30px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.mobile-off {
  display: none;
}
.double-nav__list--for-desktop {
  display: none;
}
.main-header__list {
  margin-top: 125px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.main-header__title {
  margin: 0;
  margin-top: 70px;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  white-space: pre-line;
}
.page-main__header {
  display: flex;
  flex-direction: column;
  background-image: url('/public/img/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center -15px;
  background-color: #f9f9f9;
}
.main-header__link {
  display: block;
  padding: 30px 0;
  padding-left: 36px;
  font-weight: bold;
  color: #fff;
  font-size: 19px;
  line-height: 24px;
}
.main-header__item:first-child {
  background-image: url('/public/img/lamp.svg');
  background-repeat: no-repeat;
  background-size: 39px 62px;
  background-position: right 37px bottom 44%;
  background-color: #63d1bb;
}
.main-header__item {
  background-image: url('/public/img/lego.svg');
  background-repeat: no-repeat;
  background-size: 62px 62px;
  background-position: right 29px bottom 50%;
  background-color: #56c3b2;
}
.main-header__title--mobile-off {
  display: none;
}
.product-of-the-week__title {
  margin: 0;
  margin-top: 29px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}
.product-of-the-week__wrapper {
  width: 81%;
  max-width: 320px;
  margin: 0 auto;
}
.product-of-the-week__label {
  margin-top: 7px;
  font-size: 17px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
  line-height: 20px;
}
.product-of-the-week__description {
  margin: 0;
  margin-top: 24px;
  font-size: 15px;
  line-height: 24px;
}
.product-of-the-week__features {
  margin-top: 16px;
  font-size: 15px;
  line-height: 20px;
}
.product-of-the-week__features td {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}
.product-of-the-week__features td:last-child {
  padding-left: 30px;
}
.product-of-the-week__image {
  margin: 0;
  margin-top: 28px;
}
.product-of-the-week__image img {
  width: 100%;
  height: 100%;
}
.make-order {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.make-order__price {
  margin: 19px 0;
  margin-bottom: 20px;
  line-height: 24px;
}
.btn {
  display: block;
  padding: 15px 0;
  border: 2px solid;
  font: inherit;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.zigzag-line-wrapper {
  margin-top: 36px;
}
#zigzag {
  height: 7px;
}
.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}
.about-wrapper {
  margin: 0 auto;
  width: 81%;
}
.about__for-image--rocket {
  margin-left: -5px;
}
.about__title {
  font-size: 25px;
  line-height: 30px;
}
.about__for-image {
  margin-bottom: 20px;
}
.about__item {
  margin-bottom: 30px;
}
.feedback-wrapper {
  width: 81%;
  margin: 0 auto;
}
.button {
  width: 49%;
  border: none;
  padding: 10px 38px;
  background-color: transparent;
}
.slider {
  border: 1px solid #ececec;
}
.feedback__title {
  font-size: 25px;
  line-height: 30px;
  margin: 24px 0;
}
.feedback__description {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 28px;
}
.feedback__author-info {
  font-size: 17px;
}
.feedback__author-name {
  margin-bottom: 0;
  font-weight: bold;
}
.feedback__author-nickname {
  margin-top: 10px;
  margin-bottom: 34px;
}
.feedback__write {
  margin-top: 35px;
  font-size: 18px;
}
.contacts-wrapper {
  width: 84%;
  margin: 0 auto;
}
.contacts__title {
  font-size: 18px;
  line-height: 30px;
}
.contacts__info {
  margin-top: 26px;
  width: 260px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}
.contacts__info-mail,
.contacts__info-address {
  width: 70%;
}
.contacts__info-address {
  padding-top: 30px;
}
.contacts__info-address-label {
  padding: 0;
}
.contacts__map {
  margin-top: 32px;
}
@media (min-width: 768px) {
  .mobile-off {
    display: block;
  }
  .page-header {
    flex-direction: row;
  }
  .main-nav__wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 87%;
  }
  .main-nav__list {
    display: flex;
    width: 668px;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: nowrap;
  }
  .double-nav__item--tablet-off {
    display: none;
  }
  .list__item {
    min-height: 89px;
    border-bottom: none;
  }
  .main-nav__toggle {
    display: none;
  }
  .list__item--mobile-off {
    display: block;
  }
  .tablet-off {
    display: none;
  }
  .list__logo-image {
    width: 113px;
    height: 46px;
  }
  .list__item--search {
    min-width: 83px;
    min-height: 89px;
    margin-left: auto;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
  .list__link {
    padding: 0;
  }
  .list__link--search {
    padding: 0;
  }
  .list__link--logo {
    padding: 26px 0;
    padding-bottom: 11px;
  }
  .list__link--cart {
    padding: 33px 0;
    padding-left: 84px;
  }
  .list__image {
    top: 35px;
  }
  .list__image--cart {
    left: 34px;
  }
  .double-nav__list {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .double-nav__link--post {
    font-weight: normal;
  }
  .double-nav__link {
    padding-left: 0;
    padding-right: 0;
    line-height: 24px;
  }
  .double-nav__item--order {
    margin-right: auto;
    margin-left: 37px;
  }
  .for-border {
    border-bottom: 1px solid #ececec;
  }
  .wrapper-for-background {
    padding-top: 18px;
    background-color: #f9f9f9;
  }
  .page-main__header {
    display: flex;
    flex-direction: column;
    background-image: url('/public/img/hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center -42px;
    background-color: #f9f9f9;
  }
  .main-header__title {
    display: none;
  }
  .main-header__title--mobile-off {
    display: block;
    margin-top: 113px;
    font-size: 43px;
    line-height: 50px;
  }
  .main-header__list {
    display: flex;
    justify-content: center;
    max-width: 1050px;
    margin-top: 375px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-header__item {
    flex-grow: 1;
    width: 334px;
  }
  .main-header-wrapper {
    margin: 0 50px;
  }
  .main-header__item {
    background-position: right 34px bottom 50%;
  }
  .wave-wrapper {
    margin-top: -12px;
  }
  #wave {
    height: 24px;
  }
  .product-of-the-week__title {
    margin-top: 0;
    font-size: 43px;
    font-weight: bold;
    line-height: 50px;
  }
  .product-of-the-week__label {
    margin-right: 27px;
    line-height: 17px;
    text-align: center;
  }
  .product-of-the-week__description {
    font-size: 17px;
    line-height: 30px;
  }
  .make-order__price {
    font-size: 20px;
  }
  .product-of-the-week__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
  }
  .product-of-the-week {
    margin-top: 31px;
  }
  .product-of-the-week__wrapper {
    width: 668px;
    max-width: 668px;
    background-image: url('public/img/triple-set-tablet.jpg');
    background-repeat: no-repeat;
    background-size: 333px 404px;
    background-position: 98% 98%;
  }
  .product-of-the-week__features {
    margin-top: 34px;
  }
  .product-of-the-week__make-order {
    margin-top: 49px;
  }
  .make-order {
    width: 290px;
  }
  .make-order__price {
    margin-bottom: 34px;
  }
  .zigzag-line-wrapper {
    margin-top: 50px;
  }
  .product-of-the-week__image {
    display: none;
  }
  #zigzag {
    height: 15px;
  }
  .about-wrapper {
    margin: 0 auto;
    width: 668px;
  }
  .about-list-wrapper {
    display: flex;
  }
  .about__list:last-child {
    margin-left: 138px;
  }
  .about__item {
    font-size: 20px;
    line-height: 22px;
  }
  .about__title {
    margin-top: 47px;
    margin-bottom: 28px;
    font-size: 43px;
    line-height: 50px;
  }
  .feedback-wrapper {
    position: relative;
    width: 668px;
  }
  .feedback__write {
    position: absolute;
    margin: 0;
    padding: 15px 39px;
    top: 78px;
    right: 0;
    font-size: 17px;
  }
  .feedback__title {
    margin-bottom: 50px;
    padding-top: 77px;
    font-size: 43px;
    line-height: 50px;
  }
  .feedback__description {
    font-size: 17px;
  }
  .feedback-slider {
    position: absolute;
    bottom: 0;
    right: 1px;
    border: none;
  }
  .button {
    border: none;
    padding: 10px 17px;
    width: auto;
    background-color: transparent;
  }
  .feedback {
    background-image: url('public/img/review.jpg');
    background-repeat: no-repeat;
    background-size: 350px 457px;
    background-position: left top;
  }
  .feedback__author-info {
    margin-top: 60px;
  }
  .zigzag-line-wrapper--feedback {
    margin-top: 116px;
  }
}
@media (min-width: 1250px) {
  .main-nav__wrapper {
    max-width: 1050px;
    width: 1050px;
  }
  .main-nav__list {
    width: 1050px;
  }
  .list {
    justify-content: normal;
  }
  .list__logo-image {
    width: 142px;
    height: 72px;
  }
  .desktop-off {
    display: block;
  }
  .list__link--logo {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .list__link--for-desktop {
    padding: 33px 36px;
  }
  .list__item--order {
    border-left: 1px solid #ececec;
  }
  .list__item--search {
    margin-left: 0;
  }
  .list__item--logo {
    order: 1;
    margin-left: 43px;
  }
  .list__item--search {
    order: 2;
    margin-left: auto;
  }
  .list__item--cart {
    order: 3;
  }
  .list__item--catalog {
    margin-right: 36px;
  }
  .list__link--catalog {
    padding-left: 0;
    padding-right: 0;
  }
  .double-nav__item--order {
    margin-left: 64px;
  }
  .double-nav__item--tablet-off {
    display: block;
  }
  .double-nav__item--desktop-off {
    display: none;
  }
  #wave {
    height: 26px;
  }
  .product-of-the-week__wrapper {
    margin: 0;
    margin-left: auto;
    width: 875px;
    max-width: 875px;
    background-image: url('public/img/triple-set-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 525px 636px;
    background-position: 98% 98%;
  }
  .product-of-the-week__header {
    position: relative;
    padding-top: 72px;
    margin-top: 28px;
    margin-bottom: 53px;
  }
  .product-of-the-week__label {
    position: absolute;
    top: 80px;
    left: -134px;
  }
  .product-of-the-week__title {
    margin-top: 0;
    font-size: 53px;
    line-height: 57px;
  }
  .product-of-the-week {
    width: 1050px;
    margin: 0 auto;
  }
  .product-of-the-week__features {
    margin-top: 48px;
  }
  .product-of-the-week__make-order {
    margin-top: 108px;
  }
  #zigzag {
    height: 24px;
  }
  .about-wrapper {
    width: 700px;
  }
  .feedback-wrapper {
    width: 1033px;
  }
  .feedback {
    margin-top: 67px;
    background-position: 11% top;
  }
  .feedback__title {
    margin-left: 199px;
    margin-left: 168px;
    font-size: 53px;
    line-height: 57px;
  }
  .feedback__description {
    margin-left: 165px;
    padding-right: 68px;
  }
  .feedback__write {
    top: 83px;
  }
  .feedback__author-info {
    margin-top: 39px;
    margin-left: 170px;
  }
  .zigzag {
    height: 24px;
  }
  .zigzag-line-wrapper--feedback {
    margin-top: 157px;
  }
}
