/* variables */
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}
.page-header {
  display: flex;
  flex-direction: column;
}
.list__logo-image {
  width: 86px;
}
.logo-link {
  display: block;
  padding-top: 22px;
  padding-bottom: 15px;
  padding-right: 79px;
  text-align: center;
  border-bottom: 1px solid #ececec;
  padding-left: 75px;
  line-height: 24px;
  font-size: 17px;
}
.main-nav {
  position: relative;
  width: 100%;
}
.main-nav__list--closed {
  display: none;
}
.on {
  display: block;
}
.main-nav__toggle--closed {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 82px;
  padding: 39px 0px;
  border: none;
  background-color: transparent;
}
.main-nav__toggle--closed:after {
  content: '';
  position: absolute;
  top: 32px;
  right: 31px;
  width: 20px;
  height: 2px;
  background-color: black;
  box-shadow: 0 6px 0 0 black,
        0 12px 0 0 black;
}
.main-nav__toggle--opened {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 82px;
  padding: 39px 0px;
  border: none;
  background-color: transparent;
}
.main-nav__toggle--opened:after {
  content: '';
  position: absolute;
  top: 28px;
  right: 40px;
  width: 2px;
  transform: rotate(45deg);
  height: 25px;
  background-color: black;
}
.main-nav__toggle--opened:before {
  content: '';
  position: absolute;
  top: 28px;
  right: 40px;
  width: 2px;
  transform: rotate(-45deg);
  height: 25px;
  background-color: black;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: bold;
}
.list__item {
  height: 78px;
  border-bottom: 1px solid #ececec;
}
.list__item--logo {
  text-align: center;
}
.list__link {
  display: block;
  position: relative;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 75px;
  padding-right: 60px;
  line-height: 24px;
  font-size: 17px;
}
.list__link--logo {
  padding-top: 22px;
  padding-bottom: 15px;
  padding-right: 79px;
}
.list__image {
  position: absolute;
  top: 31px;
  left: 30px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.mobile-off {
  display: none;
}
.double-nav__list--for-desktop {
  display: none;
}
.main-header__list {
  margin-top: 125px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.main-header__title {
  margin: 0;
  margin-top: 70px;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  white-space: pre-line;
}
.page-main__header {
  display: flex;
  flex-direction: column;
  background-image: url('/public/img/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center -15px;
  background-color: #f9f9f9;
}
.main-header__link {
  display: block;
  padding: 30px 0;
  padding-left: 36px;
  font-weight: bold;
  color: #fff;
  font-size: 19px;
  line-height: 24px;
}
.main-header__item:first-child {
  background-image: url('/public/img/lamp.svg');
  background-repeat: no-repeat;
  background-size: 39px 62px;
  background-position: right 37px bottom 44%;
  background-color: #63d1bb;
}
.main-header__item {
  background-image: url('/public/img/lego.svg');
  background-repeat: no-repeat;
  background-size: 62px 62px;
  background-position: right 29px bottom 50%;
  background-color: #56c3b2;
}
.main-header__title--mobile-off {
  display: none;
}
@media (min-width: 768px) {
  .mobile-off {
    display: block;
  }
  .page-header {
    flex-direction: row;
  }
  .main-nav__wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 87%;
  }
  .main-nav__list {
    display: flex;
    width: 668px;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: nowrap;
  }
  .double-nav__item--tablet-off {
    display: none;
  }
  .list__item {
    min-height: 89px;
    border-bottom: none;
  }
  .main-nav__toggle {
    display: none;
  }
  .list__item--mobile-off {
    display: block;
  }
  .tablet-off {
    display: none;
  }
  .list__logo-image {
    width: 113px;
    height: 46px;
  }
  .list__item--search {
    min-width: 83px;
    min-height: 89px;
    margin-left: auto;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
  .list__link {
    padding: 0;
  }
  .list__link--search {
    padding: 0;
  }
  .list__link--logo {
    padding: 26px 0;
    padding-bottom: 11px;
  }
  .list__link--cart {
    padding: 33px 0;
    padding-left: 84px;
  }
  .list__image {
    top: 35px;
  }
  .list__image--cart {
    left: 34px;
  }
  .double-nav__list {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .double-nav__link--post {
    font-weight: normal;
  }
  .double-nav__link {
    padding-left: 0;
    padding-right: 0;
    line-height: 24px;
  }
  .double-nav__item--order {
    margin-right: auto;
    margin-left: 37px;
  }
  .for-border {
    border-bottom: 1px solid #ececec;
  }
  .wrapper-for-background {
    padding-top: 18px;
    background-color: #f9f9f9;
  }
  .page-main__header {
    display: flex;
    flex-direction: column;
    background-image: url('/public/img/hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center -42px;
    background-color: #f9f9f9;
  }
  .main-header__title {
    display: none;
  }
  .main-header__title--mobile-off {
    display: block;
    margin-top: 113px;
    font-size: 43px;
    line-height: 50px;
  }
  .main-header__list {
    display: flex;
    justify-content: center;
    max-width: 1050px;
    margin-top: 375px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-header__item {
    flex-grow: 1;
    width: 334px;
  }
  .main-header-wrapper {
    margin: 0 50px;
  }
  .main-header__item {
    background-position: right 34px bottom 50%;
  }
  .a {
    display: flex;
  }
}
@media (min-width: 1250px) {
  .main-nav__wrapper {
    max-width: 1050px;
    width: 1050px;
  }
  .main-nav__list {
    width: 1050px;
  }
  .list {
    justify-content: normal;
  }
  .list__logo-image {
    width: 142px;
    height: 72px;
  }
  .desktop-off {
    display: block;
  }
  .list__link--logo {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .list__link--for-desktop {
    padding: 33px 36px;
  }
  .list__item--order {
    border-left: 1px solid #ececec;
  }
  .list__item--search {
    margin-left: 0;
  }
  .list__item--logo {
    order: 1;
    margin-left: 43px;
  }
  .list__item--search {
    order: 2;
    margin-left: auto;
  }
  .list__item--cart {
    order: 3;
  }
  .list__item--catalog {
    margin-right: 36px;
  }
  .list__link--catalog {
    padding-left: 0;
    padding-right: 0;
  }
  .double-nav__item--order {
    margin-left: 64px;
  }
  .double-nav__item--tablet-off {
    display: block;
  }
  .double-nav__item--desktop-off {
    display: none;
  }
}
